<ion-header dir="{{direction}}">
  <ion-navbar>
    <!-- <button ion-button class="hamburgerBtn" (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      {{'ePortal' | translate}}
      <img src="assets/imgs/logo_small.png" alt="Image">
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <toolbar></toolbar>
  </ion-toolbar>
</ion-header>


<ion-content class="eventDetailContent">
  <ion-card class="detailCard">
    <ion-card-header>
      <img src="assets/imgs/calendarPink.png" alt="Image">
      {{'eventDetail' | translate}}
    </ion-card-header>
    <!-- <searchbar type="btnHide" search="general"></searchbar> -->
    <div class="banner">
      <!-- <img src="{{detailData.ImageUrl? 'http://sp2016adv.westeurope.cloudapp.azure.com:2003/MOTCMobileService.svc/GetImageBase64String?url=' + detailData.ImageUrl : 'assets/imgs/aboutBanner.jpg'}}" alt="Image"> -->
      <img src="{{detailData.PictureBase64String? detailData.PictureBase64String : ''}}" alt="Image">
    </div>
    <ion-label class="infoLabel">

      <!-- <p><span><img src="assets/imgs/calendar_Y.png"> {{detailData.newsDate}}</span> | {{detailData.newsTime}}</p> -->
      <p>
        <span><b>{{'start' | translate}}</b> - <img src="assets/imgs/calendar_Y.png"> {{detailData.startDate}} | {{detailData.startTime}}</span>
        <span><b>{{'end' | translate}}</b> - <img src="assets/imgs/calendar_Y.png"> {{detailData.endDate}} | {{detailData.endTime}}</span>
      </p> 
      
      
      
      
      <button ion-button (click)="isFav()">
        <ion-icon name="{{detailData.IsFavourite == false ? 'md-heart-outline' : 'md-heart'}}"></ion-icon>
      </button>
    </ion-label>
    <ion-card-content>
      <p><span><ion-icon name="md-pin"></ion-icon> {{detailData.Venue}}</span></p>
      <h3>{{detailData.Title}}</h3>
      <h5 [innerHTML]="detailData.Descroption"></h5>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <tab type="any" *ngIf="!fromMedia"></tab>
  <tab type="mediaCenter" *ngIf="fromMedia"></tab>
</ion-footer>