<div class="toolbarMain">
    <button class="segment" (click)="favContact()">
        <img src="assets/imgs/contactIcon.png" alt="Icon">
    </button>
    <button class="segment" (click)="myTask()">
        <img src="assets/imgs/missionsIcon.png" alt="Icon">
        <!-- <ion-badge color="themeColor2">{{taskCount? taskCount : '0'}}</ion-badge> -->
    </button>
    <button class="segment" (click)="favourite()">
        <img src="assets/imgs/favouriteIcon.png" alt="Icon">
    </button>
    <button class="segment" (click)="notification()">
        <img src="assets/imgs/notifyIcon.png" alt="Icon">
        <!-- <ion-badge color="themeColor2">{{notificationCount? notificationCount : '0'}}</ion-badge> -->
    </button>
</div>