page-media-announcements {
    .announcementContent{
        .announcementsList{
            ion-list-header{
                margin-bottom: 0px;
                border-top: 1px solid #dedede !important;
                border-bottom: 1px solid #dedede !important;
                min-height: auto;
                ion-label{
                    color: #000;
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    img{
                        width: 20px;
                        margin-right: 6px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .searchDiv{
                border-bottom: 1px solid #dedede;
            }
            ion-item{
                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
                width: 90%;
                margin: 10px auto;
                border-radius: 10px;
                .item-inner{
                    ion-label{
                        white-space: normal;
                        font-family: 'Lato-Bold';
                        // p{
                        //     color: $themeColor2;
                        //     font-size: 14px;
                        //     span{
                        //         display: inline-block;
                        //     }
                        // }
                        h3, h3 p{
                            margin: 6px 0;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.87);
                            line-height: 24px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                        }
                        h3 p{
                            margin: 0px;
                        }
                        button{
                            background: none;
                            color: $themeColor2;
                            padding: 0px 2px;
                            font-size: 14px;
                            float: right;
                            font-family: 'Lato-Bold';
                            span{
                                background: $themeColor2;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 3px;
                                line-height: 14px;
                                text-align: center;
                                color: #fff;
                                ion-icon{
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
ion-nav[dir="rtl"]{
    page-media-announcements .announcementContent .announcementsList ion-list-header ion-label img{
        margin-left: 6px;
        margin-right: 0px;
    }
    page-media-announcements .announcementContent .announcementsList ion-item .item-inner ion-label {
        button {
            float: left;
            span{
                margin-right: 3px;
                margin-left: 0px;
                transform: rotate(180deg);
            }
        }
    }
}